# Bibliothèques

In [39]:
import sqlite3
from sqlite3 import connect

import pandas as pd
pd.set_option('display.max_columns', 51)
pd.set_option('display.max_rows', 300)

# Connexion à la db

In [2]:
# Connexion à la db

# def connexion_db(file_name =""):
#     try:
#         conn = sqlite3.connect(f"{file_name}")
#         curs = conn.cursor()
#         print("connexion ok")
#     except:
#         print("no db connexion")
#     return conn, curs

# file_name = "130US_diabete_BDD.sqlite3"
# connexion_db(file_name)

try:
    conn = sqlite3.connect("130US_diabete_BDD.sqlite3") # création de l'objet qui nous connecte à la database
    curs = conn.cursor() # création d'un curseur qui permet de naviguer dans la db
    print("connexion ok")
except:
    print("no db connexion")

connexion ok

# Création des tables

In [ ]:
# Création des tables

##########
# Faire une fonction
##########

# conn, curs = connexion_db(file_name)

# Quand problème de table non trouvée indiquer : curs.execute('''DROP TABLE Film;''')

# conn.execute : permet de faire des actions dans la db (ex : create table)

# Explication = pourquoi pas de id interger autoincrement !!!! L'ajouter au rapport

'''
with conn:  
    conn.execute("""CREATE TABLE IF NOT EXISTS patients (
        id INTEGER PRIMARY KEY,
        race VARCHAR,
        gender VARCHAR,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")
    

with conn: 
    conn.execute("""CREATE TABLE IF NOT EXISTS medecins (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")
    
# Avant de créer mes foreign key, créer la colonne qui sera indiquer comme telle 

with conn:
    conn.execute("""CREATE TABLE IF NOT EXISTS admissions (
        id INTEGER PRIMARY KEY,
        admission_type_id INTEGER,
        discharge_disposition_id INTEGER,
        admission_source_id INTEGER,
        time_in_hospital INTEGER,
        num_lab_procedures INTEGER,
        num_procedures INTEGER,
        num_medications INTEGER,
        diag_1 VARCHAR,
        diag_2 VARCHAR,
        diag_3 VARCHAR,
        number_diagnoses INTEGER,
        max_glu_serum VARCHAR,
        a1c_result VARCHAR,
        change VARCHAR,
        diabetes_med VARCHAR,
        readmitted VARCHAR,
        age INTEGER,
        weight INTEGER,
        payer_code VARCHAR,
        number_outpatient INTEGER,
        number_emergency INTEGER,
        number_inpatient INTEGER,
        medecin_id INTEGER,
        patient_id INTEGER,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP,        
        FOREIGN KEY (medecin_id) REFERENCES medecins (id),
        FOREIGN KEY (patient_id) REFERENCES patients (id)
    );""")
'''
    
# conn.commit() : sauvegarde (commit) les changements/transactions / Par défaut, la connection n'est pas 
    # en autocommit (il faut committer explicitement les ordres sql). Sauf les ordres modifiant 
    # la structure de la base (comme par exemple création d'une table) qui font un commit automatiquement => ne faire
    # un commit que lorsqu'on ajoute de la donnée
    
# conn.close() : ferme la connexion

# Remplissage des tables

In [4]:
# skipinitialspace : Skip spaces after delimiter

data = pd.read_csv('diabetic_data_130US_hospital.csv', sep=';', skipinitialspace = True)
data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
df = data.copy()

## Patients

Pour la création de la table de dimension patients, il nous fallait récupérer du fichier Excel les identifiants uniques de chaque patient, auquels étaient associés les variables 'race' et 'gender'.
Nous avons donc supprimé les duplicate pour pouvoir rendre l' id unique et en faire une table avec une primary key. Le problème étant que dans la colonne 'patient_nbr' de notre source, nous avions plusieurs fois l'id renseigné.

### Analyse des duplicate pour création primary key

In [6]:
patients = df[['patient_nbr','race', 'gender']]
patients

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101761    100162476  AfricanAmerican    Male
101762     74694222  AfricanAmerican  Female
101763     41088789        Caucasian    Male
101764     31693671        Caucasian  Female
101765    175429310        Caucasian    Male

[101766 rows x 3 columns]

In [7]:
patients.nunique()

patient_nbr    71518
race               6
gender             3
dtype: int64

In [8]:
# Nb de lignes dupliquées

patients.duplicated(subset = 'patient_nbr').sum()

30248

In [9]:
# On supprime les lignes dupliquées

patients = patients.drop_duplicates()
patients

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101754    183087545        Caucasian  Female
101755    188574944            Other  Female
101756    140199494            Other  Female
101758    120975314        Caucasian  Female
101765    175429310        Caucasian    Male

[71773 rows x 3 columns]

In [15]:
comptage = patients.sort_values(by = 'patient_nbr')
comptage

        patient_nbr             race  gender
4267            135        Caucasian  Female
5827            378        Caucasian  Female
67608           729        Caucasian  Female
17494           774        Caucasian  Female
2270            927  AfricanAmerican  Female
...             ...              ...     ...
99863     189351095        Caucasian  Female
95282     189365864            Other    Male
93651     189445127        Caucasian  Female
101748    189481478        Caucasian  Female
96147     189502619        Caucasian    Male

[71773 rows x 3 columns]

In [17]:
# Nous avons encore des doublons dans la colonne 'patient_nbr' qu'il convient d'analyser plus précisément

comptage.duplicated(subset = 'patient_nbr').sum()

255

In [21]:
doublons = comptage[comptage.duplicated(subset = 'patient_nbr')]
doublons

        patient_nbr             race  gender
20977        453267        Caucasian    Male
12669        561609        Caucasian  Female
19576       1041291        Caucasian    Male
5064        1147059            Other    Male
7864        1226007            Other  Female
...             ...              ...     ...
11283     113959818  AfricanAmerican  Female
95449     131425574        Caucasian    Male
95288     141045827                ?  Female
92212     151228229            Asian    Male
101671    151756061                ?  Female

[255 rows x 3 columns]

In [40]:
doublons.sort_values(by='patient_nbr')

        patient_nbr             race  gender
20977        453267        Caucasian    Male
12669        561609        Caucasian  Female
19576       1041291        Caucasian    Male
5064        1147059            Other    Male
7864        1226007            Other  Female
11883       1243557        Caucasian  Female
8946        1260063  AfricanAmerican    Male
13486       1384182        Caucasian    Male
79469       1400022         Hispanic    Male
28744       1553220  AfricanAmerican    Male
32447       1579545                ?    Male
17734       1756539        Caucasian    Male
30170       2103048                ?  Female
34309       2163357                ?  Female
84810       2187144        Caucasian  Female
36491       2265543                ?    Male
238         2341521                ?  Female
652         2535174                ?    Male
28347       2672631                ?    Male
3577        2940129         Hispanic  Female
7928        3228903        Caucasian  Female
9106        3588723        Caucasian  Female
29173       3598173        Caucasian    Male
995         3616155        Caucasian    Male
28165       4040712                ?  Female
31340       4114701        Caucasian  Female
36953       4477221                ?    Male
35536       4512411                ?  Female
23752       5142546  AfricanAmerican    Male
24591       5333787  AfricanAmerican  Female
28564       5812695                ?  Female
11863       5941593                ?    Male
17530       6144201  AfricanAmerican  Female
8392        6198867        Caucasian  Female
10681       6480900        Caucasian    Male
27544       6919587        Caucasian    Male
2321        7436034        Caucasian  Female
32624       7678737                ?    Male
21934       9395991  AfricanAmerican  Female
3721        9402138        Caucasian    Male
1006        9946782                ?    Male
35413      10629963        Caucasian    Male
40283      10773963            Other    Male
28812      10896165        Caucasian    Male
36325      10980891  AfricanAmerican  Female
1654       12027024            Other    Male
50342      12186837        Caucasian  Female
8609       13420188  AfricanAmerican  Female
34644      14509854        Caucasian  Female
34338      15293043        Caucasian  Female
25798      15599853                ?  Female
36796      15793326        Caucasian  Female
28949      16159878                ?    Male
30346      17874657                ?  Female
14407      18306144                ?  Female
31834      18337401                ?  Female
34637      18978885        Caucasian  Female
22772      19788084  AfricanAmerican  Female
22204      20721366  AfricanAmerican    Male
73861      21337767                ?  Female
60369      23724792        Caucasian    Male
30667      24332220        Caucasian  Female
36235      24547626        Caucasian    Male
14661      24945534  AfricanAmerican  Female
40615      24982119                ?    Male
27819      25042275        Caucasian  Female
27922      25048278                ?  Female
13111      25179300        Caucasian  Female
9480       25764849        Caucasian  Female
13070      26014698                ?  Female
7292       26089911                ?  Female
7711       26090370                ?    Male
74743      27464121                ?    Male
30205      27653292  AfricanAmerican  Female
24156      27765738  AfricanAmerican    Male
16709      28266300                ?    Male
25161      28292742        Caucasian  Female
37271      28532295         Hispanic    Male
24223      28863117        Caucasian    Male
45466      30317814  AfricanAmerican    Male
42811      30689766         Hispanic  Female
84924      31812075            Asian    Male
93408      32314608            Asian  Female
13549      33005439  AfricanAmerican    Male
57730      33247647        Caucasian  Female
73406      34118244        Caucasian  Female
37959      34248078            Other    Male
37274      34367490            Other    Male
84086      35876763                ?    Male
47079      36616320        Caucasian    Male
89163      36967347            Asian    Male
75768      37547937            Other    Male
63935      37572957            Other    Male
44927      37638306            Other  Female
81236      38135610                ?  Female
86299      38216205        Caucasian    Male
74362      38231730                ?  Female
95571      38335932        Caucasian    Male
99607      38752722        Caucasian    Male
90695      38774187         Hispanic    Male
70844      38893887        Caucasian  Female
79622      38934198        Caucasian    Male
79513      38994642                ?    Male
53112      39160719            Other    Male
64564      40090752  AfricanAmerican  Female
72250      40427910                ?    Male
97775      40554873        Caucasian  Female
50590      40668975        Caucasian  Female
88793      40811175                ?    Male
74244      40867677                ?    Male
31854      41117184        Caucasian  Female
47758      41220999        Caucasian    Male
73558      42096384            Other  Female
98027      42246738        Caucasian  Female
80322      44007453         Hispanic    Male
81473      44744166         Hispanic    Male
97387      45113778         Hispanic    Male
67961      45417744        Caucasian  Female
77839      46144935                ?  Female
71853      46248840            Asian  Female
101286     46488123        Caucasian  Female
60298      47306340         Hispanic    Male
95620      49166001        Caucasian  Female
100904     49193784        Caucasian  Female
56221      49695984        Caucasian  Female
72087      51281946                ?  Female
74729      51281946         Hispanic  Female
77389      51748416        Caucasian    Male
77080      52316388        Caucasian    Male
76686      54643194  AfricanAmerican  Female
58672      54853578        Caucasian  Female
3316       55500588        Caucasian  Female
46987      56088306        Caucasian    Male
50472      56226078            Other  Female
59142      56302038  AfricanAmerican  Female
42286      56889162                ?  Female
79568      58164435  AfricanAmerican  Female
46806      58537836            Other  Female
87739      58993956            Asian  Female
90328      59074128         Hispanic  Female
58401      59257647                ?  Female
50822      59275179        Caucasian    Male
82799      59583888  AfricanAmerican    Male
60649      59722641                ?  Female
74382      59730075        Caucasian  Female
57728      59732757        Caucasian  Female
77908      59957577        Caucasian  Female
86412      60351552        Caucasian  Female
75583      60629715                ?  Female
49047      60899562  AfricanAmerican    Male
48956      60987717        Caucasian  Female
88766      61175547                ?    Male
57712      62409753            Other    Male
26907      62634195                ?  Female
58370      62845515  AfricanAmerican  Female
84199      65579553        Caucasian  Female
8907       66147309                ?    Male
58856      66432015        Caucasian    Male
59310      66435822                ?    Male
71527      67345947                ?    Male
50353      67876299            Other    Male
86628      68567220                ?  Female
75820      69971472  AfricanAmerican    Male
456        70269183         Hispanic  Female
12739      70671114                ?    Male
40400      71707248        Caucasian    Male
78649      71848674                ?    Male
28104      72106497                ?  Female
6385       73498194                ?  Female
46529      74494548  AfricanAmerican    Male
67559      77537466        Caucasian    Male
26340      77620653                ?  Female
27385      80385372        Caucasian  Female
15577      83158605            Asian    Male
27614      83177253        Caucasian    Male
46250      83355786            Other    Male
81115      84444615  AfricanAmerican    Male
28657      84643236                ?    Male
54187      85476951            Other    Male
68852      85567590                ?  Female
74668      86335110                ?  Female
75921      86459436                ?    Male
57429      86877342            Other  Female
14135      88266699        Caucasian    Male
49800      88696557  AfricanAmerican  Female
47543      88844373         Hispanic  Female
40561      89057322                ?    Male
7865       89376372        Caucasian  Female
50563      89643555  AfricanAmerican  Female
58447      90035874         Hispanic  Female
65700      90369243         Hispanic    Male
47478      90660501        Caucasian    Male
76595      90817893            Other  Female
80368      91075059            Other    Male
35444      91107549         Hispanic  Female
49608      91830285  AfricanAmerican  Female
9891       92448675                ?  Female
48481      92614788  AfricanAmerican    Male
99269      93105117            Other    Male
83375      93662784            Other    Male
66882      93809358            Other    Male
44192      94027644            Asian    Male
96234      94088088         Hispanic  Female
72698      94539465            Asian  Female
91879      94639248        Caucasian    Male
32717      94694337        Caucasian    Male
39381      96204510        Caucasian    Male
63196      96365970        Caucasian    Male
37927      96651423                ?    Male
93258      96664068                ?  Female
68223      97024806            Asian  Female
38399      97728264                ?  Female
48412      98568972         Hispanic    Male
75091      98584524        Caucasian    Male
86744      98934615         Hispanic  Female
62244      98962209  AfricanAmerican    Male
81439      99467199                ?    Male
70104     100021914                ?    Male
51411     100322946         Hispanic    Male
80160     101447406        Caucasian  Female
42106     101753730        Caucasian  Female
97233     102150216            Other  Female
49890     103228398         Hispanic  Female
40691     103305528        Caucasian    Male
88693     103335309        Caucasian    Male
96097     103690161            Asian    Male
65199     104622570            Asian  Female
46831     105125598         Hispanic    Male
12149     105818841                ?    Male
78619     106116984        Caucasian  Female
60838     106137846  AfricanAmerican  Female
42678     106425234            Other    Male
70222     106895331  AfricanAmerican  Female
80446     106895331            Other  Female
80599     106973127         Hispanic  Female
7021      107206047            Other  Female
62242     107849052            Other    Male
73392     107849052            Asian    Male
66706     109210482        Caucasian    Male
40200     109448541         Hispanic    Male
52406     110497536            Other    Male
70067     110657970            Other  Female
31488     111055230                ?    Male
100521    111126897        Caucasian  Female
77931     111534210            Asian    Male
25141     111583458                ?    Male
99487     111598038        Caucasian  Female
41873     112367349         Hispanic  Female
31023     112642398                ?    Male
10546     112786587  AfricanAmerican  Female
11283     113959818  AfricanAmerican  Female
95449     131425574        Caucasian    Male
95288     141045827                ?  Female
92212     151228229            Asian    Male
101671    151756061                ?  Female

In [53]:
# Filtre pour l'analyse 

filtre = patients[patients['patient_nbr'] == 1147059]
filtre

      patient_nbr       race gender
1629      1147059  Caucasian   Male
5064      1147059      Other   Male

Après analyse des duplicates, nous constatons que pour le même 'patient_nbr', deux modalités différentes 'race' ont pu être attribuées, incluant parfois un '?'. Afin de ne conserver qu'une seule modalité, nous allons : 
    - supprimer les ?
    - analyser les 'other' (vérifier qu'il y a bien une autre modalité plus précise dans ce cas)
    - et enfin, quand nous avons 2 modalités autre que 'other', choisir la 'race' aléatoirement.

### Insertion des données

In [36]:
for i in doublons : 
#     duplicated(subset = 'patient_nbr')== False:
    print(doublons[[i]])

        patient_nbr
20977        453267
12669        561609
19576       1041291
5064        1147059
7864        1226007
...             ...
11283     113959818
95449     131425574
95288     141045827
92212     151228229
101671    151756061

[255 rows x 1 columns]
                   race
20977         Caucasian
12669         Caucasian
19576         Caucasian
5064              Other
7864              Other
...                 ...
11283   AfricanAmerican
95449         Caucasian
95288                 ?
92212             Asian
101671                ?

[255 rows x 1 columns]
        gender
20977     Male
12669   Female
19576     Male
5064      Male
7864    Female
...        ...
11283   Female
95449     Male
95288   Female
92212     Male
101671  Female

[255 rows x 1 columns]

In [ ]:
for index, i in patients.iterrows():
    columns = tuple(i.values)
        
    sql = "INSERT INTO patients (id, race, gender) VALUES (?, ?, ?)"

    curs.execute(sql, columns)
    conn.commit() # sauvegarde des changements car pas d'autocommitted par défault

In [ ]:
# Pb avec ma table patients = 1 patient peut apparaître plusieurs fois => pas unique ! Donc pour l'instant, 
    # utilisation de l'id incrementer autoamtique mais je vais avoir id qui seront en réalité des doublons
    # => revoir modélisation ou infos présentes dans la table (ne garder que la race, le genre qui sont des données
    # fixes et mettre les autres mesures dans une autre table)
    # remplacer l'id autoincrement ar l'id du fichier excel directement

for index, i in test.iterrows():
    poire = tuple(i.values)
        
    sql = "INSERT INTO patients (race, gender, age, weight, payer_code, number_outpatient, number_emergency, number_inpatient) VALUES (?, ?, ?, ?, ?, ?, ?, ?)"

    curs.execute(sql, poire)
    conn.commit() # sauvegarde des changements car pas d'autocommitted par défault

In [ ]:
# test_race = data.loc[:,['race']] # On sélectionne toutes les données de la colonne

# Pour chaque ligne du dataframe, faire une liste : 

# Création d'un df avec les colonnes voulues
# Transformation en list avec to_list
# Dans une boucle, insertion ligne par ligne

test = data[['race', 'gender', 'age', 'weight', 'payer_code', 'number_outpatient', 'number_emergency', 'number_inpatient']]
test

In [ ]:
# mettre le conn.close() -> revoir

In [ ]:
df = pd.read_sql_query("SELECT * FROM patients", conn)
df