# Bibliothèques

In [1]:
import sqlite3
from sqlite3 import connect

import pandas as pd
pd.set_option('display.max_columns', 51)
pd.set_option('display.max_rows', 300)

# Connexion à la db

In [2]:
# Connexion à la db

# def connexion_db(file_name =""):
#     try:
#         conn = sqlite3.connect(f"{file_name}")
#         curs = conn.cursor()
#         print("connexion ok")
#     except:
#         print("no db connexion")
#     return conn, curs

# file_name = "130US_diabete_BDD.sqlite3"
# connexion_db(file_name)

try:
    conn = sqlite3.connect("130US_diabete_BDD.sqlite3") # création de l'objet qui nous connecte à la database
    curs = conn.cursor() # création d'un curseur qui permet de naviguer dans la db
    print("connexion ok")
except:
    print("no db connexion")

connexion ok

# Création des tables

In [69]:
# Création des tables

##########
# Faire une fonction
##########

# conn, curs = connexion_db(file_name)

# Quand problème de table non trouvée indiquer : curs.execute('''DROP TABLE Film;''')

# conn.execute : permet de faire des actions dans la db (ex : create table)

# Explication = pourquoi pas de id interger autoincrement !!!! L'ajouter au rapport


'''
with conn:  
    conn.execute("""CREATE TABLE IF NOT EXISTS patients (
        id INTEGER PRIMARY KEY,
        race VARCHAR,
        gender VARCHAR,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")
'''
    
'''
with conn: 
    conn.execute("""CREATE TABLE IF NOT EXISTS medecins (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        medical_specialty VARCHAR,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")
'''
    
# Avant de créer mes foreign key, créer la colonne qui sera indiquer comme telle 

'''
with conn:
    conn.execute("""CREATE TABLE IF NOT EXISTS admissions (
        id INTEGER PRIMARY KEY,
        admission_type_id INTEGER,
        discharge_disposition_id INTEGER,
        admission_source_id INTEGER,
        time_in_hospital INTEGER,
        num_lab_procedures INTEGER,
        num_procedures INTEGER,
        num_medications INTEGER,
        diag_1 VARCHAR,
        diag_2 VARCHAR,
        diag_3 VARCHAR,
        number_diagnoses INTEGER,
        max_glu_serum VARCHAR,
        a1c_result VARCHAR,
        change VARCHAR,
        diabetes_med VARCHAR,
        readmitted VARCHAR,
        age INTEGER,
        weight INTEGER,
        payer_code VARCHAR,
        number_outpatient INTEGER,
        number_emergency INTEGER,
        number_inpatient INTEGER,
        medecin_id INTEGER,
        patient_id INTEGER,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP,        
        FOREIGN KEY (medecin_id) REFERENCES medecins (id),
        FOREIGN KEY (patient_id) REFERENCES patients (id)
    );""")
'''

    
# conn.commit() : sauvegarde (commit) les changements/transactions / Par défaut, la connection n'est pas 
    # en autocommit (il faut committer explicitement les ordres sql). Sauf les ordres modifiant 
    # la structure de la base (comme par exemple création d'une table) qui font un commit automatiquement => ne faire
    # un commit que lorsqu'on ajoute de la donnée
    
# conn.close() : ferme la connexion
    # Si message suivant : SQL error: database is locked -> close la connexion

'\nwith conn:\n    conn.execute("""CREATE TABLE IF NOT EXISTS admissions (\n        id INTEGER PRIMARY KEY,\n        admission_type_id INTEGER,\n        discharge_disposition_id INTEGER,\n        admission_source_id INTEGER,\n        time_in_hospital INTEGER,\n        num_lab_procedures INTEGER,\n        num_procedures INTEGER,\n        num_medications INTEGER,\n        diag_1 VARCHAR,\n        diag_2 VARCHAR,\n        diag_3 VARCHAR,\n        number_diagnoses INTEGER,\n        max_glu_serum VARCHAR,\n        a1c_result VARCHAR,\n        change VARCHAR,\n        diabetes_med VARCHAR,\n        readmitted VARCHAR,\n        age INTEGER,\n        weight INTEGER,\n        payer_code VARCHAR,\n        number_outpatient INTEGER,\n        number_emergency INTEGER,\n        number_inpatient INTEGER,\n        medecin_id INTEGER,\n        patient_id INTEGER,\n        created_at CURRENT_TIMESTAMP,\n        updated_at CURRENT_TIMESTAMP,        \n        FOREIGN KEY (medecin_id) REFERENCES medecins (id),\n        FOREIGN KEY (patient_id) REFERENCES patients (id)\n    );""")\n'

# Remplissage des tables

In [3]:
# skipinitialspace : Skip spaces after delimiter

data = pd.read_csv('diabetic_data_130US_hospital.csv', sep=';', skipinitialspace = True)
data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df = data.copy()

## Patients

Pour la création de la table de dimension patients, il nous fallait récupérer du fichier Excel les identifiants uniques de chaque patient, auquels étaient associés les variables 'race' et 'gender'.
Nous avons donc supprimé les duplicate pour pouvoir rendre l' id unique et en faire une table avec une primary key. Le problème étant que dans la colonne 'patient_nbr' de notre source, nous avions plusieurs fois l'id renseigné.

### Analyse des duplicate pour création primary key

In [5]:
# On sélectionne les colonnes dont on a besoin

analyse = df[['patient_nbr','race', 'gender']]
analyse

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101761    100162476  AfricanAmerican    Male
101762     74694222  AfricanAmerican  Female
101763     41088789        Caucasian    Male
101764     31693671        Caucasian  Female
101765    175429310        Caucasian    Male

[101766 rows x 3 columns]

In [6]:
# Nombre de modalités par feature

analyse.nunique()

patient_nbr    71518
race               6
gender             3
dtype: int64

Nous avons des doublons d'id dans la colonne "patients_nbr" qu'il convient de supprimer.

In [7]:
# Nb de lignes dupliquées

analyse.duplicated(subset = 'patient_nbr').sum()

30248

In [8]:
# On supprime les lignes dupliquées

analyse = analyse.drop_duplicates()
analyse

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101754    183087545        Caucasian  Female
101755    188574944            Other  Female
101756    140199494            Other  Female
101758    120975314        Caucasian  Female
101765    175429310        Caucasian    Male

[71773 rows x 3 columns]

In [9]:
# On analyse s'il reste des lignes dupliquées par id

analyse.duplicated(subset = 'patient_nbr').sum()

255

Nous avons encore des doublons dans la colonne 'patient_nbr' qu'il convient d'analyser plus précisément (255)

In [10]:
# On affiche la liste des doublons

doublons = analyse[analyse.duplicated(subset = 'patient_nbr')]
doublons

        patient_nbr             race  gender
1157        2341521  AfricanAmerican  Female
1918        9946782        Caucasian    Male
2271       70269183        Caucasian  Female
2321        7436034        Caucasian  Female
3372       12027024        Caucasian    Male
3444        2535174        Caucasian    Male
3481        3616155  AfricanAmerican    Male
3577        2940129         Hispanic  Female
3721        9402138        Caucasian    Male
5064        1147059            Other    Male
8946        1260063  AfricanAmerican    Male
10546     112786587  AfricanAmerican  Female
11283     113959818  AfricanAmerican  Female
12140      26089911         Hispanic  Female
12287       5941593        Caucasian    Male
12468       6480900  AfricanAmerican    Male
13111      25179300        Caucasian  Female
13405      92448675        Caucasian  Female
13486       1384182        Caucasian    Male
13508      13420188        Caucasian  Female
13549      33005439  AfricanAmerican    Male
13630     105818841        Caucasian    Male
13870       6198867  AfricanAmerican  Female
14135      88266699        Caucasian    Male
14661      24945534  AfricanAmerican  Female
15577      83158605            Asian    Male
17062      89376372                ?  Female
17394      18306144        Caucasian  Female
17530       6144201  AfricanAmerican  Female
17546      26014698        Caucasian  Female
17746      26090370        Caucasian    Male
18075       3588723  AfricanAmerican  Female
18502       1243557  AfricanAmerican  Female
18697       1226007         Hispanic  Female
19504     107206047        Caucasian  Female
19576       1041291        Caucasian    Male
20437      28266300        Caucasian    Male
20723        561609         Hispanic  Female
20925      70671114        Caucasian    Male
20977        453267        Caucasian    Male
21735       1756539  AfricanAmerican    Male
21934       9395991  AfricanAmerican  Female
22204      20721366  AfricanAmerican    Male
22772      19788084  AfricanAmerican  Female
24005       3228903  AfricanAmerican  Female
24156      27765738  AfricanAmerican    Male
24223      28863117        Caucasian    Male
24591       5333787  AfricanAmerican  Female
25161      28292742        Caucasian  Female
25341       5142546        Caucasian    Male
27614      83177253        Caucasian    Male
27649      80385372            Other  Female
27819      25042275        Caucasian  Female
27944      77620653        Caucasian  Female
28104      72106497                ?  Female
28432       2672631        Caucasian    Male
28591       5812695        Caucasian  Female
28772      73498194        Caucasian  Female
28812      10896165        Caucasian    Male
28949      16159878                ?    Male
29107       6919587  AfricanAmerican    Male
29113      25048278        Caucasian  Female
29263     111583458        Caucasian    Male
29500      55500588        Caucasian    Male
30170       2103048                ?  Female
30205      27653292  AfricanAmerican  Female
31023     112642398                ?    Male
31466      17874657        Caucasian  Female
31838      25764849  AfricanAmerican  Female
31854      41117184        Caucasian  Female
31971       3598173                ?    Male
32132      15599853  AfricanAmerican  Female
32447       1579545                ?    Male
34102       4114701                ?  Female
34309       2163357                ?  Female
34338      15293043        Caucasian  Female
34644      14509854        Caucasian  Female
34889       1553220        Caucasian    Male
35115      18978885                ?  Female
35274      84643236         Hispanic    Male
35505      18337401        Caucasian  Female
35548       4512411        Caucasian  Female
35773      10629963                ?    Male
36028       4040712        Caucasian  Female
36095      66147309        Caucasian    Male
36235      24547626        Caucasian    Male
36325      10980891  AfricanAmerican  Female
36427       7678737        Caucasian    Male
36491       2265543                ?    Male
36796      15793326        Caucasian  Female
37073       4477221        Caucasian    Male
38500      62634195        Caucasian  Female
39381      96204510        Caucasian    Male
40283      10773963            Other    Male
40400      71707248        Caucasian    Male
41082     103305528            Asian    Male
41831      97728264        Caucasian  Female
42346      89057322        Caucasian    Male
45188     112367349        Caucasian  Female
45466      30317814  AfricanAmerican    Male
46261      83355786        Caucasian    Male
46987      56088306        Caucasian    Male
47079      36616320        Caucasian    Male
47478      90660501        Caucasian    Male
49047      60899562  AfricanAmerican    Male
49800      88696557  AfricanAmerican  Female
50114      92614788        Caucasian    Male
51450      60987717  AfricanAmerican  Female
51655      91830285        Caucasian  Female
52406     110497536            Other    Male
56221      49695984        Caucasian  Female
58370      62845515  AfricanAmerican  Female
58447      90035874         Hispanic  Female
58660      59732757            Other  Female
58856      66432015        Caucasian    Male
58911      67876299  AfricanAmerican    Male
59142      56302038  AfricanAmerican  Female
60356      74494548        Caucasian    Male
60369      23724792        Caucasian    Male
60838     106137846  AfricanAmerican  Female
61021      59257647  AfricanAmerican  Female
61870      24982119  AfricanAmerican    Male
62244      98962209  AfricanAmerican    Male
63127      96651423        Caucasian    Male
63196      96365970        Caucasian    Male
63707      33247647            Other  Female
63841      66435822        Caucasian    Male
64106      94694337                ?    Male
64564      40090752  AfricanAmerican  Female
64961      89643555        Caucasian  Female
65199     104622570            Asian  Female
65298      24332220            Asian  Female
66096      58537836        Caucasian  Female
66706     109210482        Caucasian    Male
66882      93809358            Other    Male
67559      77537466        Caucasian    Male
67582      59275179            Other    Male
67961      45417744        Caucasian  Female
68223      97024806            Asian  Female
68852      85567590                ?  Female
70104     100021914                ?    Male
70222     106895331  AfricanAmerican  Female
70345      54853578         Hispanic  Female
70844      38893887        Caucasian  Female
71114      86877342  AfricanAmerican  Female
71527      67345947                ?    Male
71853      46248840            Asian  Female
72087      51281946                ?  Female
72127     100322946            Other    Male
72433      98568972                ?    Male
72698      94539465            Asian  Female
73017     109448541            Other    Male
73185      47306340                ?    Male
73392     107849052            Asian    Male
73558      42096384            Other  Female
73806      59722641  AfricanAmerican  Female
74382      59730075        Caucasian  Female
74651      88844373            Other  Female
74668      86335110                ?  Female
74729      51281946         Hispanic  Female
74743      27464121                ?    Male
75167      90369243        Caucasian    Male
75768      37547937            Other    Male
75820      69971472  AfricanAmerican    Male
75921      86459436                ?    Male
76252      60629715        Caucasian  Female
76595      90817893            Other  Female
76686      54643194  AfricanAmerican  Female
76845      40867677                ?  Female
77080      52316388        Caucasian    Male
77389      51748416        Caucasian    Male
77908      59957577        Caucasian  Female
77919      34248078            Asian    Male
77931     111534210            Asian    Male
78503      34367490            Asian    Male
78619     106116984        Caucasian  Female
78649      71848674                ?    Male
79568      58164435  AfricanAmerican  Female
79590      98584524            Other    Male
79622      38934198        Caucasian    Male
80160     101447406        Caucasian  Female
80322      44007453         Hispanic    Male
80368      91075059            Other    Male
80446     106895331            Other  Female
80599     106973127         Hispanic  Female
81329      40668975         Hispanic  Female
81585      91107549            Other  Female
82622     111055230        Caucasian    Male
82722     101753730  AfricanAmerican  Female
82733      39160719            Asian    Male
82799      59583888  AfricanAmerican    Male
83253       1400022                ?    Male
83375      93662784            Other    Male
83708      46144935        Caucasian  Female
83790      38994642        Caucasian    Male
84199      65579553        Caucasian  Female
84328     106425234            Asian    Male
84810       2187144        Caucasian  Female
84924      31812075            Asian    Male
85267     110657970            Asian  Female
85409      30689766            Other  Female
85867     107849052  AfricanAmerican    Male
86299      38216205        Caucasian    Male
86412      60351552        Caucasian  Female
86744      98934615         Hispanic  Female
86961      84444615            Other    Male
87203      68567220        Caucasian  Female
87303      94027644            Other    Male
87739      58993956            Asian  Female
88372      34118244                ?  Female
88693     103335309        Caucasian    Male
88882      99467199        Caucasian    Male
88939      44744166            Other    Male
89163      36967347            Asian    Male
89336      37638306            Asian  Female
89634      40811175        Caucasian    Male
90214      61175547        Caucasian    Male
90250     103228398            Other  Female
90328      59074128         Hispanic  Female
91874      37572957         Hispanic    Male
91879      94639248        Caucasian    Male
92094      12186837            Other  Female
92212     151228229            Asian    Male
92345      28532295            Other    Male
92915      41220999         Hispanic    Male
92997      56889162        Caucasian  Female
93258      96664068                ?  Female
93386     105125598            Other    Male
93708      38231730        Caucasian  Female
93747      38135610        Caucasian  Female
93991      32314608            Other  Female
94204      35876763        Caucasian    Male
95288     141045827                ?  Female
95332      85476951        Caucasian    Male
95449     131425574        Caucasian    Male
95571      38335932        Caucasian    Male
95620      49166001        Caucasian  Female
96097     103690161            Asian    Male
96213      21337767        Caucasian  Female
96234      94088088         Hispanic  Female
96489      56226078                ?  Female
97233     102150216            Other  Female
97375      40427910        Caucasian    Male
97387      45113778         Hispanic    Male
97725      38774187            Other    Male
97775      40554873        Caucasian  Female
98027      42246738        Caucasian  Female
99072      62409753        Caucasian    Male
99269      93105117            Other    Male
99487     111598038        Caucasian  Female
99607      38752722        Caucasian    Male
100521    111126897        Caucasian  Female
100904     49193784        Caucasian  Female
101286     46488123        Caucasian  Female
101671    151756061                ?  Female

In [11]:
# On filtre sur le dataset original afin d'analyser de plus près la nature des doublons

filtre = analyse[analyse['patient_nbr'] == 41220999]
filtre

       patient_nbr       race gender
47758     41220999  Caucasian   Male
92915     41220999   Hispanic   Male

Après analyse des duplicates, nous constatons que pour le même 'patient_nbr', deux modalités différentes 'race' ont pu être attribuées, incluant parfois un '?'. Afin de ne conserver qu'une seule modalité, nous allons : 
    - supprimer les ?
    - supprimer les 'other' (vérifier qu'il y a bien une autre modalité plus précise dans ce cas)
    - et enfin, quand nous avons 2 modalités autre que 'other', choisir la 'race' aléatoirement. 
    
 Pour une analyse plus fine, il conviendrait d'analyser plus précisément : 
     - si un id possède 2 "?" ou 2 "other" : si non, conserver la ligne qui possède une nomenclature réelle
     - quand 2 nomenclature, réfléchir à une stratégie pour savoir laquelle garder
 
Nous allons pour l'exercice, nous contenter de supprimer les "?", les "other" et de suprrimer aléatoirement l'une des 2 modalités quand elles sont différentes, afin de n'avoir qu'une modalité par ID, quitte à supprimer quelques lignes. Il conviendra certainement de faire une jointure en INNER JOIN avec notre table de consultations afin de ne pas se retrouver avec NULL si jamais cette sélection a supprimé des patient_nbr.

### Suppression des doublons d'id

In [12]:
# On constitue le df avec les données dont on va avoir besoin pour remplir la table

patients = df[['patient_nbr','race', 'gender']]
patients

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101761    100162476  AfricanAmerican    Male
101762     74694222  AfricanAmerican  Female
101763     41088789        Caucasian    Male
101764     31693671        Caucasian  Female
101765    175429310        Caucasian    Male

[101766 rows x 3 columns]

In [13]:
# On remplace les "?" et les "Other" par des nan pour ensuite les supprimer avec la méthode isna
# On consulte le nombre de valeurs nulles dans notre dataset

patients = patients.replace({'?' : np.nan, 'Other': np.nan})
patients.isnull().sum()

patient_nbr       0
race           3779
gender            0
dtype: int64

In [14]:
# On supprime toutes les valeurs nulles

patients = patients.dropna()
patients

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101761    100162476  AfricanAmerican    Male
101762     74694222  AfricanAmerican  Female
101763     41088789        Caucasian    Male
101764     31693671        Caucasian  Female
101765    175429310        Caucasian    Male

[97987 rows x 3 columns]

In [15]:
# On vérifie le nombre de duplicate

patients.duplicated(subset = 'patient_nbr').sum()

29458

In [16]:
# On supprime les lignes dupliquées

patients = patients.drop_duplicates()
patients

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101749    106392411        Caucasian  Female
101751    175326800        Caucasian    Male
101754    183087545        Caucasian  Female
101758    120975314        Caucasian  Female
101765    175429310        Caucasian    Male

[68586 rows x 3 columns]

In [17]:
# On vérifie le nombre de duplicate

patients.duplicated(subset = 'patient_nbr').sum()

57

Nous constatons qu'il demeure des doublons dans l'id, correspondant sûrement aux doublons de nomenclature dans la colonne 'race'.

In [18]:
# Suppression des id en doublons dans la colonne 'patient_nbr'

patients = patients.drop_duplicates(subset='patient_nbr')
patients

        patient_nbr             race  gender
0           8222157        Caucasian  Female
1          55629189        Caucasian  Female
2          86047875  AfricanAmerican  Female
3          82442376        Caucasian    Male
4          42519267        Caucasian    Male
...             ...              ...     ...
101749    106392411        Caucasian  Female
101751    175326800        Caucasian    Male
101754    183087545        Caucasian  Female
101758    120975314        Caucasian  Female
101765    175429310        Caucasian    Male

[68529 rows x 3 columns]

In [19]:
patients.duplicated(subset = 'patient_nbr').sum()

0

Nous n'avons plus d'id dupliqués dans la colonne 'patient_nbr' et pouvons procéder au remplissage de la table.

In [20]:
patients.nunique()

patient_nbr    68529
race               4
gender             2
dtype: int64

### Insertion des données

In [ ]:
# On remplit la table patients avec les données dans le df patient

'''for index, i in patients.iterrows():
    columns = tuple(i.values)
        
    sql = "INSERT INTO patients (id, race, gender) VALUES (?, ?, ?)"

    curs.execute(sql, columns)
    conn.commit() # sauvegarde des changements car pas d'autocommitted par défault'''

In [ ]:
# conn.close()

In [21]:
verif = pd.read_sql_query("SELECT * FROM patients", conn)
verif

              id             race  gender created_at updated_at
0            135        Caucasian  Female       None       None
1            378        Caucasian  Female       None       None
2            729        Caucasian  Female       None       None
3            774        Caucasian  Female       None       None
4            927  AfricanAmerican  Female       None       None
...          ...              ...     ...        ...        ...
68524  189349430            Asian  Female       None       None
68525  189351095        Caucasian  Female       None       None
68526  189445127        Caucasian  Female       None       None
68527  189481478        Caucasian  Female       None       None
68528  189502619        Caucasian    Male       None       None

[68529 rows x 5 columns]

La table "patients" contient 68529 id.

## Médecins

In [44]:
# Modalités contenues dans la colonne 'medical_speciality'

analyse_2 = df['medical_specialty']
analyse_2.nunique()

73

In [27]:
# Nature des modalités

analyse_2.value_counts()

?                                       49949
InternalMedicine                        14635
Emergency/Trauma                         7565
Family/GeneralPractice                   7440
Cardiology                               5352
Surgery-General                          3099
Nephrology                               1613
Orthopedics                              1400
Orthopedics-Reconstructive               1233
Radiologist                              1140
Pulmonology                               871
Psychiatry                                854
Urology                                   685
ObstetricsandGynecology                   671
Surgery-Cardiovascular/Thoracic           652
Gastroenterology                          564
Surgery-Vascular                          533
Surgery-Neuro                             468
PhysicalMedicineandRehabilitation         391
Oncology                                  348
Pediatrics                                254
Hematology/Oncology                       207
Neurology                                 203
Pediatrics-Endocrinology                  159
Otolaryngology                            125
Endocrinology                             120
Surgery-Thoracic                          109
Psychology                                101
Podiatry                                  100
Surgery-Cardiovascular                     98
Pediatrics-CriticalCare                    87
Hematology                                 82
Gynecology                                 58
Hospitalist                                57
Radiology                                  53
Surgeon                                    45
Surgery-Plastic                            41
Osteopath                                  39
Ophthalmology                              38
InfectiousDiseases                         37
SurgicalSpecialty                          33
Obsterics&Gynecology-GynecologicOnco       25
Pediatrics-Pulmonology                     25
Obstetrics                                 19
Anesthesiology-Pediatric                   19
Rheumatology                               17
Pathology                                  17
OutreachServices                           12
Anesthesiology                             12
Surgery-Maxillofacial                      11
Surgery-Colon&Rectal                       11
PhysicianNotFound                          11
Pediatrics-Neurology                       10
Endocrinology-Metabolism                    8
Surgery-Pediatric                           8
AllergyandImmunology                        7
Cardiology-Pediatric                        7
Psychiatry-Child/Adolescent                 7
DCPTEAM                                     6
Pediatrics-Hematology-Oncology              4
Dentistry                                   4
Pediatrics-EmergencyMedicine                3
Pediatrics-AllergyandImmunology             3
Resident                                    2
Surgery-PlasticwithinHeadandNeck            1
Proctology                                  1
Psychiatry-Addictive                        1
Dermatology                                 1
SportsMedicine                              1
Speech                                      1
Perinatology                                1
Neurophysiology                             1
Pediatrics-InfectiousDiseases               1
Name: medical_specialty, dtype: int64

La colonne 'medical_specialty' contient 73 modalités.

In [57]:
# On supprime les duplicate afin de ne conserver que des valeurs uniques de modalités

medecins = df[['medical_specialty']]
medecins = medecins.drop_duplicates()

In [58]:
medecins.nunique()

medical_specialty    73
dtype: int64

Notre colonne ne contient plus que 73 modalités. Nous insérons ces données dans la table de dimension 'medecins' qui doit ne posséder que des valeurs uniques (primary keys). Nous employons pour cette table l'incrémentation de l'id en automatique.

In [70]:
for index, i in medecins.iterrows():
    columns = tuple(i.values)
        
    sql = "INSERT INTO medecins (medical_specialty) VALUES (?)"

    curs.execute(sql, columns)
    conn.commit() # sauvegarde des changements car pas d'autocommitted par défault

In [71]:
verif_2 = pd.read_sql_query("SELECT * FROM medecins", conn)
verif_2

    id                     medical_specialty created_at updated_at
0    1              Pediatrics-Endocrinology       None       None
1    2                                     ?       None       None
2    3                      InternalMedicine       None       None
3    4                Family/GeneralPractice       None       None
4    5                            Cardiology       None       None
5    6                       Surgery-General       None       None
6    7                           Orthopedics       None       None
7    8                      Gastroenterology       None       None
8    9       Surgery-Cardiovascular/Thoracic       None       None
9   10                            Nephrology       None       None
10  11            Orthopedics-Reconstructive       None       None
11  12                            Psychiatry       None       None
12  13                      Emergency/Trauma       None       None
13  14                           Pulmonology       None       None
14  15                         Surgery-Neuro       None       None
15  16  Obsterics&Gynecology-GynecologicOnco       None       None
16  17               ObstetricsandGynecology       None       None
17  18                            Pediatrics       None       None
18  19                   Hematology/Oncology       None       None
19  20                        Otolaryngology       None       None
20  21                  Surgery-Colon&Rectal       None       None
21  22               Pediatrics-CriticalCare       None       None
22  23                         Endocrinology       None       None
23  24                               Urology       None       None
24  25           Psychiatry-Child/Adolescent       None       None
25  26                Pediatrics-Pulmonology       None       None
26  27                             Neurology       None       None
27  28              Anesthesiology-Pediatric       None       None
28  29                             Radiology       None       None
29  30        Pediatrics-Hematology-Oncology       None       None
30  31                            Psychology       None       None
31  32                              Podiatry       None       None
32  33                            Gynecology       None       None
33  34                              Oncology       None       None
34  35                  Pediatrics-Neurology       None       None
35  36                       Surgery-Plastic       None       None
36  37                      Surgery-Thoracic       None       None
37  38      Surgery-PlasticwithinHeadandNeck       None       None
38  39                         Ophthalmology       None       None
39  40                     Surgery-Pediatric       None       None
40  41          Pediatrics-EmergencyMedicine       None       None
41  42     PhysicalMedicineandRehabilitation       None       None
42  43                    InfectiousDiseases       None       None
43  44                        Anesthesiology       None       None
44  45                          Rheumatology       None       None
45  46                  AllergyandImmunology       None       None
46  47                 Surgery-Maxillofacial       None       None
47  48         Pediatrics-InfectiousDiseases       None       None
48  49       Pediatrics-AllergyandImmunology       None       None
49  50                             Dentistry       None       None
50  51                               Surgeon       None       None
51  52                      Surgery-Vascular       None       None
52  53                             Osteopath       None       None
53  54                  Psychiatry-Addictive       None       None
54  55                Surgery-Cardiovascular       None       None
55  56                     PhysicianNotFound       None       None
56  57                            Hematology       None       None
57  58                            Proctology       None       None
58  59                            Obstetrics       None       None
59  60                     SurgicalSpecialty       None       None
60  61                           Radiologist       None       None
61  62                             Pathology       None       None
62  63                           Dermatology       None       None
63  64                        SportsMedicine       None       None
64  65                                Speech       None       None
65  66                           Hospitalist       None       None
66  67                      OutreachServices       None       None
67  68                  Cardiology-Pediatric       None       None
68  69                          Perinatology       None       None
69  70                       Neurophysiology       None       None
70  71              Endocrinology-Metabolism       None       None
71  72                               DCPTEAM       None       None
72  73                              Resident       None       None

In [73]:
result = curs.fetchone()
result

## Admissions

In [ ]:
 admission_type_id INTEGER,
        discharge_disposition_id INTEGER,
        admission_source_id INTEGER,
        time_in_hospital INTEGER,
        num_lab_procedures INTEGER,
        num_procedures INTEGER,
        num_medications INTEGER,
        diag_1 VARCHAR,
        diag_2 VARCHAR,
        diag_3 VARCHAR,
        number_diagnoses INTEGER,
        max_glu_serum VARCHAR,
        a1c_result VARCHAR,
        change VARCHAR,
        diabetes_med VARCHAR,
        readmitted VARCHAR,
        age INTEGER,
        weight INTEGER,
        payer_code VARCHAR,
        number_outpatient INTEGER,
        number_emergency INTEGER,
        number_inpatient INTEGER,
        
        medecin_id INTEGER,
        patient_id INTEGER,

In [ ]:
# On constitue le df avec les données dont on va avoir besoin pour remplir la table

admissions = df[['discharge_disposition_id','admission_source_id', 'time_in_hospital', 'num_lab_procedures',
                'num_procedures', 'num_medications', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum',
                'a1c_result', 'change', 'diabetes_med', 'readmitted', 'age', 'weight', 'payer_code',
                'number_outpatient', 'number_emergency', 'number_inpatient', ''  ]]
patients