# Bibliothèques

In [2]:
import sqlite3
from sqlite3 import connect

import pandas as pd

# Connexion à la db

In [3]:
# Connexion à la db

# def connexion_db(file_name =""):
#     try:
#         conn = sqlite3.connect(f"{file_name}")
#         curs = conn.cursor()
#         print("connexion ok")
#     except:
#         print("no db connexion")
#     return conn, curs

# file_name = "130US_diabete_BDD.sqlite3"
# connexion_db(file_name)

try:
    conn = sqlite3.connect("130US_diabete_BDD.sqlite3") # création de l'objet qui nous connecte à la database
    curs = conn.cursor() # création d'un curseur qui permet de naviguer dans la db
    print("connexion ok")
except:
    print("no db connexion")

connexion ok

# Création des tables

In [7]:
# Création des tables

##########
# Faire une fonction
##########

# conn, curs = connexion_db(file_name)

# Quand problème de table non trouvée indiquer : curs.execute('''DROP TABLE Film;''')

# conn.execute : permet de faire des actions dans la db (ex : create table)

with conn:  
    conn.execute("""CREATE TABLE IF NOT EXISTS patients (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        race VARCHAR,
        gender VARCHAR,
        age INTEGER,
        weight INTEGER,
        payer_code VARCHAR,
        number_outpatient INTEGER,
        number_emergency INTEGER,
        number_inpatient INTEGER,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")
    

with conn: 
    conn.execute("""CREATE TABLE IF NOT EXISTS medecins (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")
    
with conn: 
    conn.execute("""CREATE TABLE IF NOT EXISTS medecins (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP
    );""")

    
# Avant de créer mes foreign key, créer la colonne qui sera indiquer comme telle 

with conn:
    conn.execute("""CREATE TABLE IF NOT EXISTS admissions (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        admission_type_id INTEGER,
        discharge_disposition_id INTEGER,
        admission_source_id INTEGER,
        time_in_hospital INTEGER,
        num_lab_procedures INTEGER,
        num_procedures INTEGER,
        num_medications INTEGER,
        diag_1 VARCHAR,
        diag_2 VARCHAR,
        diag_3 VARCHAR,
        number_diagnoses INTEGER,
        max_glu_serum VARCHAR,
        a1c_result VARCHAR,
        change VARCHAR,
        diabetes_med VARCHAR,
        readmitted VARCHAR,
        medecin_id INTEGER,
        patient_id INTEGER,
        created_at CURRENT_TIMESTAMP,
        updated_at CURRENT_TIMESTAMP,
        
        FOREIGN KEY (medecin_id) REFERENCES medecins (id),
        FOREIGN KEY (patient_id) REFERENCES patients (id)
    );""")
    
# conn.commit() : sauvegarde (commit) les changements/transactions / Par défaut, la connection n'est pas 
    # en autocommit (il faut committer explicitement les ordres sql). Sauf les ordres modifiant 
    # la structure de la base (comme par exemple création d'une table) qui font un commit automatiquement => ne faire
    # un commit que lorsqu'on ajoute de la donnée
    
# conn.close() : ferme la connexion

# Remplissage des tables

In [78]:
# total = zip(name, city, coach, rank.keys(), rank.values())
# for item in list(total):
#     assert item[1] == item[3] # vérifie que le nom de la ville pour le rang correspond bien à la ville insérée
#     item = list(item)
#     item[4] = int(item[4])
#     curs.execute("INSERT INTO teams (name, city, coach_name, rank) VALUES (?, ?, ?, ?);",(item[0], item[1], item[2], item[4]))
#     conn.commit()

data = pd.read_csv('diabetic_data_130US_hospital.csv', sep=';')
data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [79]:
# test_race = data.loc[:,['race']] # On sélectionne toutes les données de la colonne

# Pour chaque ligne du dataframe, faire une liste : 

# Création d'un df avec les colonnes voulues
# Transformation en list avec to_list
# Dans une boucle, insertion ligne par ligne

test = data[['race', 'gender', 'age', 'weight', 'payer_code', 'number_outpatient', 'number_emergency', 'number_inpatient']]
test

,race,gender,age,weight,payer_code,number_outpatient,number_emergency,number_inpatient
0,Caucasian,Female,[0-10),?,?,0,0,0
1,Caucasian,Female,[10-20),?,?,0,0,0
2,AfricanAmerican,Female,[20-30),?,?,2,0,1
3,Caucasian,Male,[30-40),?,?,0,0,0
4,Caucasian,Male,[40-50),?,?,0,0,0
...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),?,MC,0,0,0
101762,AfricanAmerican,Female,[80-90),?,MC,0,0,1
101763,Caucasian,Male,[70-80),?,MC,1,0,0
101764,Caucasian,Female,[80-90),?,MC,0,0,1
101765,Caucasian,Male,[70-80),?,?,0,0,0

In [ ]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in data.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in data.iterrows():
    sql = "INSERT INTO `book_details` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

In [156]:
for index, i in test.iterrows():
    poire = tuple(i.values)
        
    sql = "INSERT INTO patients (race, gender, age, weight, payer_code, number_outpatient, number_emergency, number_inpatient) VALUES (?, ?, ?, ?, ?, ?, ?, ?)"

    curs.execute(sql, poire)

In [157]:
df = pd.read_sql_query("SELECT * FROM patients", conn)
df

,id,race,gender,age,weight,payer_code,number_outpatient,number_emergency,number_inpatient,created_at,updated_at
0,1,Caucasian,Female,[0-10),?,?,0,0,0,None,None
1,2,Caucasian,Female,[10-20),?,?,0,0,0,None,None
2,3,AfricanAmerican,Female,[20-30),?,?,2,0,1,None,None
3,4,Caucasian,Male,[30-40),?,?,0,0,0,None,None
4,5,Caucasian,Male,[40-50),?,?,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...
305293,305294,AfricanAmerican,Male,[70-80),?,MC,0,0,0,None,None
305294,305295,AfricanAmerican,Female,[80-90),?,MC,0,0,1,None,None
305295,305296,Caucasian,Male,[70-80),?,MC,1,0,0,None,None
305296,305297,Caucasian,Female,[80-90),?,MC,0,0,1,None,None
305297,305298,Caucasian,Male,[70-80),?,?,0,0,0,None,None

In [46]:
# On modifie le type de la variable de façon à avoir le bon format (on ne peut insérer dans la table du type
    # dataframe)

# race = str(data.loc[:,['race']])
# gender = str(data.loc[:,['gender']])
# age = str(data.loc[:,['age']])
# weight = str(data.loc[:,['weight']])
# payer_code = str(data.loc[:,['payer_code']])
# number_outpatient = str(data.loc[:,['number_outpatient']])



# number_emergency = data.loc[:,['number_emergency']]
# number_inpatient = data.loc[:,['number_inpatient']]

ValueError: invalid literal for int() with base 10: '        number_outpatient\n0                       0\n1                       0\n2                       2\n3                       0\n4                       0\n...                   ...\n101761

In [42]:
# Pb avec ma table patients = 1 patient peut apparaître plusieurs fois => pas unique ! Donc pour l'instant, 
    # utilisation de l'id incrementer autoamtique mais je vais avoir id qui seront en réalité des doublons
    # => revoir modélisation ou infos présentes dans la table (ne garder que la race, le genre qui sont des données
    # fixes et mettre les autres mesures dans une autre table)
    # remplacer l'id autoincrement ar l'id du fichier excel directement

curs.execute("""INSERT INTO patients (race, gender, age, weight, payer_code, number_outpatient, number_emergency,
                                        number_inpatient) VALUES (?, ?, ?, ?, ?, ?, ?, ?);""",
                                    (str(race), str(gender), str(age), str(weight), str(payer_code), 
                                     int(number_outpatient), int(number_emergency),
                                     int(number_inpatient)))
conn.commit()

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'